/*general styling*/
 body, html {
  font-size: 16px;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 20px;
  color: white;
  background-color: black;
}



.principle{
  position: relative;
}

.row {
  margin-top: 30px;
}

/*styling the navbar*/
ul {
  list-style-type: none;
  margin:0px;
  padding:0px;
  background-color: blue;
}

li {
  float:left;
}

li a {
font-size: 24px;
display: block;
color: white;
padding: 10px;
}

/*positioning the navbar*/
nav {
  position: absolute;
  left: 45%;
  top:0px;
}


figure {
  margin: 50px;
}



















.mapouter{
  position:relative;
  text-align:right;
  height:250px;
  width:300px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:250px;
  width:300px;
}
